<div class="modal-card-head">
  <div class="tabs">
    <ul>
      {{#each faker.results as |result|}}
        <li class="{{if (eq result.firstObject activeGenerator.firstObject) 'is-active'}}">
          <a {{action (action (mut activeGenerator)) result}}>
            {{result.firstObject}} ({{result.lastObject.length}})
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
<section class="modal-card-body">
  <div class="columns is-multiline">
    {{#each activeGenerator.lastObject as |generator|}}
      <div class="column is-half">
        <a class=" generator-type" {{action (action 'selected') activeGenerator.firstObject generator.firstObject}}>
          {{example-card namespace=activeGenerator.firstObject type=generator.firstObject example=generator.lastObject}}
        </a>
      </div>
    {{/each}}
  </div>
</section>
<div class="modal-card-foot"></div>
