<div class="columns">
  <div class="column">
    <p class="control row-count has-addons">
      {{input type="number" value=rowCount}}
      <a class="button is-primary {{if interface.generateTask.isRunning 'is-loading'}}"
       {{action 'generate'}}
       >
        Generate
      </a>
    </p>
  </div>
</div>

<table class="table is-bordered generator-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type <em>(namespace type)</em></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {{#each generators as |generator|}}
      <tr>
        <td class="control name has-icon has-icon-right">
          <input
          type="text"
          name="name"
          value={{generator.name}}
          class="name"
          oninput={{action (pipe (action (mut generator.name)) (perform saveGeneratorTask generator)) value="target.value"}}
          >
          {{fa-icon "pencil" class="edit"}}
        </td>
        <td>
          <a class="change-type" {{action (action (mut activeGeneratorId)) generator.id}}>
            {{generator.generatorName}}
            {{generator.generatorCategory}}
          </a>
        </td>
        <td class="is-icon">
          <a class="remove-generator is-danger" {{action (action "removeGenerator") generator}}>
            {{fa-icon "remove"}}
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>


{{#if activeGeneratorId}}
  {{to-elsewhere
    named="modal"
    send=(hash
    body=(component
      "generators-modal"
      updatePath=(pipe-action (action (mut activeGenerator.fakerPath)) (perform saveGeneratorTask activeGenerator) (action (mut activeGeneratorId) null)))
    onOutsideClick=(action (mut activeGeneratorId) null))
  }}
{{/if}}
