<div class="box">
  <div class="columns is-mobile">
    {{!-- Fake Columns --}}
    <div class="column">
      <div class="box">
        <ul>
          <li>
            <div class="columns is-mobile">
              <div class="column">
                <span class="subtitle is-5">Column Name</span>
              </div>
              <div class="column">
                <span class="subtitle is-5">Type</span>
                <a class="add-generator button is-primary is-pulled-right" {{action 'addGenerator'}}>
                  +
                </a>
              </div>
            </div>
          </li>
          {{#each model as |generator|}}
            <li class="generator">
              <div class="columns is-mobile level">
                <div class="column">
                  <input
                  type="text"
                  name="name"
                  value={{generator.name}}
                  class="input name"
                  oninput={{action (pipe (action (mut generator.name)) (perform saveGeneratorTask generator)) value="target.value"}}
                  >
                </div>
                <div class="column">
                  <a class="button change-type" {{action (action (mut activeGeneratorId)) generator.id}}>
                    {{generator.generatorName}}
                    <em>{{generator.generatorCategory}}</em>
                  </a>
                </div>
                <div class="column is-1">
                  <a class="button remove-generator is-danger" {{action (action 'removeGenerator') generator}}>
                    x
                  </a>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>


{{#if activeGeneratorId}}
  {{to-elsewhere
    named="modal"
    send=(hash
    body=(component
      "generators-modal"
      updatePath=(pipe-action (action (mut activeGenerator.fakerPath)) (perform saveGeneratorTask activeGenerator) (action (mut activeGeneratorId) null)))
    onOutsideClick=(action (mut activeGeneratorId) null))
  }}
{{/if}}
